@{
    ViewData["Title"] = "Create a new pizza listing";
    @model PizzaFormModel

}

<div class="min-h-screen flex items-center justify-center bg-gray-50">
    <div class="max-w-2xl mx-auto px-4">
        <h1 class="mb-5 font-bold text-3xl flex justify-center font-mono">Create new listing</h1>
        <form asp-controller="Pizza" asp-action="Create" method="post">
            <div class="text-center text-red-500 mb-5 validation-summary-errors" asp-validation-summary="All"></div>
            @Html.AntiForgeryToken()  
            <div class="mb-4">
                <label class="block">Nome:</label>
                <input asp-for="Pizza.Name" class="w-full py-2 px-2" />
            </div>
            <div class="mb-4">
                <label class="block">Descrizione:</label>
                <textarea asp-for="Pizza.Description" class="w-full py-2 px-2"></textarea>
            </div>
            <div class="mb-4">
                <label class="block">Prezzo:</label>
                <input asp-for="Pizza.Price" class="w-full py-2 px-2" />
            </div>
            <div class="mb-4">
                <label class="block">Link Immagine:</label>
                <input asp-for="Pizza.Image" class="w-full py-2 px-2" />
            </div>
            <div class="mb-4">
                <label class="block">Categoria:</label>
                <select asp-for="Pizza.CategoryId" class="w-full py-2 px-2">
                    <option value=""></option>
                    @foreach (Category category in Model.Categories)
                    {
                        if (Model.Pizza.CategoryId == category.Id)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-4">
                <label class="block pb-2">Ingredients:</label>
                <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
                    @{
                        var selectedIngredients = Model.SelectedIngredients ?? new List<string>();
                    }
                    @foreach (var ingredient in Model.Ingredient)
                    {
                        <div class="flex gap-1 items-center">
                            <input type="checkbox" name="SelectedIngredients" value="@ingredient.Value" @(selectedIngredients.Contains(ingredient.Value) ? "checked" : "") />
                            <label>@ingredient.Text</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="SelectedIngredients" class="text-red-500"></span>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary bg-black w-full" value="Create">
            </div>
        </form>
    </div>
</div>



